body{ font-family: 'Inter', sans-serif!important;     overflow-x: hidden;}
body.scrolled .navbar {
  transition: background 0.3s ease;
}

.logotop{height:45px;}
.topnav{border-bottom:#DEDEDE 1px solid; height:35px; text-align:right; padding-top:5px; font-size:14px; font-family: 'Inter', sans-serif;
  font-weight:300; position:absolute; width:100%; background:#fff; z-index: 999999; top:0;left: 0; background:#f3f3f3; }

.navnew{background-color:#fff; position:fixed; z-index:999999; width:100%; top:35px;     border-bottom: #DEDEDE 1px solid; left:0; padding-top:0; padding-bottom:0;    transition: top 0.200s ease-in; /* smooth movement */}  
.topnav a {  color: #000;  text-decoration: none;  padding: 5px 15px;  transition: color 0.35s ease;  position: relative;  overflow: hidden;  z-index: 1;  border-radius: 5px;}

.navnew ul{margin-bottom:-7px!important;}

.topnav a::before {  content: "";  position: absolute;  top: 0;  left: 50%;  width: 0;  height: 100%;  background-color: #0382EA;  transition: width 0.35s ease, left 0.35s ease;  z-index: -1;  transform: translateX(-50%);  border-radius: 5px;}

.topnav a:hover::before {  width: 100%;  left: 50%;}

.topnav a:hover {  color: #fff;}


.bannermain{color:#fff;}
.caption-wrapper {  position: absolute;  top: 0;  left: 0;  height: 100%;  width: 100%;  z-index: 2; background: rgba(0, 0, 0, 0.3); }
.slide-img {  object-fit: cover;  height: 100%;}

.homebannerright p{font-size:16px; line-height:24px; font-weight:400;}

.scrolled .navnew{top:0;   transition: top 0.4s ease-in-out; /* smooth slide */}

.bannerbtn {position: relative;
      padding:12px 30px 7px 30px;
      font-size: 16px;
      background: transparent;
      border: 2px solid #0382EA;
      border-radius: 8px;
      cursor: pointer;
      overflow: hidden;
      user-select: none;
      color:#0382EA;
      transition: all 0.3s ease;
      display: inline-block;
      font-weight: 400;
      margin-top:15px;
    }

    .bannerbtn::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0%;
      height: 0%;
      background-color: #0382EA;
      transition: all 0.4s ease;
      z-index: 0;
      border-top-left-radius: 100%;
    }

    .bannerbtn:hover::before {
      width: 250%;
      height: 250%;
    }

    .btn-content {
      position: relative;
      display: inline-block;
      overflow: hidden;
      z-index: 1;
    }

    .btn-content span {
      display: block;
      transition: transform 0.4s ease;
      text-align: center;
    }

    .btn-content .text-top {
      color: #0382EA;
      transform: translateY(0%);
    }

    .btn-content .text-bottom {
      color: white;
      transform: translateY(100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .bannerbtn:hover .text-top {
      transform: translateY(-100%);
    }

    .bannerbtn:hover .text-bottom {
      transform: translateY(0%);
    }

.bannerbtn::after {
    content: "";
    position: absolute;
    background: #0382EA;
    height: 35px;
    width: 17px;
    right: -7px;
    bottom: -18px;
    /* border-radius: 116% 9% 0 0; */
    rotate: 216deg;
}
.bannerbtn:hover {
box-shadow: 0 0 12px #79baef, 0 0 24px #79baef;
}

.bannermvideo{opacity:0.9;}

.bannerleft{align-self: center; padding-bottom: 74px;}
.bannerleft p{font-weight:500; font-size:20px; color:#fff;}
.bannerleft h1{font-weight:800; font-size:52px; color:#fff; line-height:60px; text-transform: uppercase; margin-top:15px;}


#myCarousel .carousel-indicators{position:absolute; bottom:150px; left:0; margin:0; justify-content: left;}
#myCarousel .carousel-indicators [data-bs-target]{height: 4px;     margin-right:4px;    margin-left:4px;    background-color: #6c6c6c; opacity:1; border-radius:5px; border:transparent 2px solid;}
#myCarousel .carousel-indicators .active{background-color: #d9d9d9; border:#d9d9d9 2px solid;}

.carouselboxin{ bottom:100px; width:150px; position:absolute; z-index: 9999;}

#myCarousel  .carousel-control-next-icon{background-image: none;}
#myCarousel  .carousel-control-prev-icon{background-image: none;}

.counter-current{font-size:16px; color:#fff; font-weight:500; padding-top:3px;}
.counter-slash{padding:0 5px; display:inline-block; font-size:16px; color:#8c8c8c; font-weight:400;}
.counter-total{font-size:14px; color:#8c8c8c; font-weight:400;}

.bannerleft{padding-left:5%;}
.carouselboxin{margin-left:5%;}

#myCarousel .carousel-indicators{padding-left: 5%;}

.homeslideboxmain{margin-top:90px; height:600px; max-height: 600px;  overflow: hidden;}

.homeslideboxmain .carousel-item {  max-height: 600px;  position: relative;}
.videoInsert {  width: 100%; height:600px;  object-fit: cover; /* Crop to fill */  display: block;}

.downarrow{position:absolute; width:100%; bottom:0px; text-align: center; z-index: 9;}
.downarrow img{width:75px; cursor: pointer;}

.whtwedohd{width:100%; text-align: center; margin-top:35px;}
.whtwedohd h2{color: #000;font-size: 30px;font-style: normal;font-weight: 400; text-transform: uppercase;     line-height: 34px;}
.whtwedohd p{color: #000;text-align: center;font-size:16px;font-style: normal;font-weight: 400;line-height: 24px;}

    .flip-box {
      width: 100%;
      height:500px;
      perspective: 1000px;
 
    }

    .flip-box-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .flip-box:hover .flip-box-inner {
      transform: rotateY(180deg);
    }

    .flip-side {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      
    }

    .flip-front, .flip-back {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      box-sizing: border-box;
      
    }

    .flip-front .flipimg, .flip-back .flipimg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }

        .flip-back .flipimg{

      filter: grayscale(100%);
    }

    .flip-back {
      transform: rotateY(180deg);
    
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column; 
padding:50px 20px;
      position: absolute;
    }
 .technologylink{width:100%; text-align: left;}
 .technologylink span{background-color:#0a0a0b; border: #535354 1px solid; margin:4px 2px; border-radius:5px; color:#fff; display:inline-block; padding:6px 7px; font-size:15px; opacity:0.8;}   
  .technologylink span img{margin-right:5px;}
  .overlay h2{color:#fff; font-size:30px; font-family: 'Poppins'; text-align: left; text-transform: capitalize; margin-bottom:25px;}
 .overlay p{color:#fff; text-align: left; font-size:16px; line-height:24px;   font-family: 'Onest'; font-weight:200;}

    .read-more-btn {
      position: relative;
      padding: 12px 15px  12px 0;
      font-size: 16px;
      background-color:transparent;
      border: 2px solid transparent;
      color: #0382EA;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.3s ease;
      font-weight:500;
      text-decoration: none;
    }

    .read-more-btn .arrow {
      display: inline-block;
      margin-right: 8px;
      transition: transform 0.3s ease;
    }

    .read-more-btn::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: #0382EA;
      transition: width 0.3s ease;
    }

    .read-more-btn:hover::after {
      width: 100%;
    }

    .read-more-btn:hover .arrow {
      transform: translateX(5px); /* Slide to the left */
    }

    .bg1{background-color: #e9f1fc;}
    .deliveringbox h2{font-size:32px;  font-family: 'Inter'; font-size:400; line-height:34px;}
    .deliveringbox p{font-size:16px;  font-family: 'Inter'; font-size:400; line-height:24px;}

    .deliveringbox2 h2{font-size:30px;  font-family: 'Inter'; font-size:400; line-height:38px; color: #000; background: linear-gradient(to right, #0382EA, #E94FDA);   -webkit-background-clip: text;  -webkit-text-fill-color: transparent;}
    .deliveringbox2 p{font-size:16px;  font-family: 'Inter'; font-size:400; line-height: 24px;}

    .mediadetails h2{font-size:30px;  font-family: 'Inter'; font-size:400; line-height:38px; color: #000; }
    .mediadetails h3{font-size:18px;  font-family: 'Inter'; font-size:400; line-height:38px; color: #000; margin-bottom:0; }
    .mediadetails p{font-size:16px;  font-family: 'Inter'; font-size:400; line-height: 24px;}
        .mediadetails h6{margin-bottom:5px;}

    .mediadetails {    padding-top:50px;    padding-bottom: 50px;}

    .deliveringvideo{width:100%; height:100%;}

    .companydata{  width: 100%; background: url('../public/images/companydata.png') no-repeat top; background-size: cover; min-height:300px; color:#fff;}

    .companydata h2{font-size: 60px; font-weight: 300; margin:0 0 10px 0; padding:0; }
    .companydata p{margin-top:5px; font-size: 20px; font-weight: 400;}

    .companydataimg{height:80px;  display: flex;  align-items: center;   justify-content: center; margin-bottom:10px; margin-top:20px;}

.ourbrandbox{background: linear-gradient(  to bottom,  rgba(204, 233, 255, 1) 0%,  rgba(204, 233, 255, 1) 2%,  rgba(255, 255, 255, 0) 100%
); }  

.ourbrandbox h2{font-size:32px; color:#000; font-weight: normal; line-height:34px; margin:0 0 35px 0;}
.ourbrandbox p{font-size:16px; line-height:24px;}


.brand-slide {
  padding: 0 4px; /* Reduce this value for smaller gap */
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-img {
  max-height: 125px;
  object-fit: contain;
  margin: auto;
  transition: transform 0.3s ease;
}

.brand-img:hover {
  transform: scale(1.05);
}

    .image-hover-box {
      position: relative;
      overflow: hidden;
      height:700px;
      cursor: pointer;
      margin-top:100px;
    }

    .image-hover-box .main-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.6s ease, filter 0.6s ease;
      position: absolute;
      top: 0;
      left: 0;
      filter: grayscale(100%);
      z-index: 1;
    }

    .image-hover-box:hover .main-image {
      filter: grayscale(0%);
      transform: scale(1.1);
    }

    .image-hover-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      background:#EAF2FE;
      padding:100px 75px;
      border-radius: 45px;
      max-width:850px;
    }

    .image-hover-content  h3{font-size:16px; color:#000; text-align: left; font-weight:normal; margin-bottom:10px;}
    .image-hover-content  h2{font-size:30px; color:#000; text-align: left; font-weight:500; margin-bottom:25px; line-height:38px;    background: linear-gradient(to right, #0382EA, #E94FDA);   -webkit-background-clip: text;  -webkit-text-fill-color: transparent;}

    .image-hover-content  p{font-size:16px; color:#000; line-height:24px; font-weight:300;}

    .bgfooter{background:#0D1A2F;}

.bgfooter ul.list-unstyled.small li {
  font-size: 16px;
  color: #9ea3ac;
  margin: 10px 0;
}

.bgfooter ul.list-unstyled.small li a {
  position: relative; /* Required for ::after */
  color: #9ea3ac;
  text-decoration: none;
  transition: all 0.3s;
}

.bgfooter ul.list-unstyled.small li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -7px;
  left: 0;
  background-color: #2D80F9;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.bgfooter ul.list-unstyled.small li a:hover {
  color: #2D80F9;
}

.bgfooter ul.list-unstyled.small li a:hover::after {
  transform: scaleX(1); /* This makes the line appear */
}



    .bgfooter h6{font-size:16px; font-weight:700; color:#fff; margin: 0 0 35px 0;}   

    .copyright p{font-size:14px; font-weight:300; color:#777e8a; margin: 0 0 35px 0;}

    .smicons img{margin-right:15px;}
    
    .smicons img:hover{opacity:0.7;}

    .support-text{color: #777e8a;}
    .support-text .sp{font-size:16px;}
    .support-text .supnumber{font-size:16px; font-weight:600; color:#fff; margin:2px 0;}
    .support-text .supnum{font-size:12px;}
.support-text a {
  position: relative;
  font-size: 16px;
  color: #777e8a;
  text-decoration: none;
  transition: all 0.3s;
}

.support-text a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom:-7px;
  left: 0;
  background-color: #2D80F9;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.support-text a:hover {
  color: #2D80F9;
}

.support-text a:hover::after {
  transform: scaleX(1);
}



    .happeningbox h2{font-size:32px; color:#000; font-weight: normal; line-height:34px; margin:0 0 35px 0;}

    .cardboxone .card{border:none; position: relative; padding-bottom:120px;}
    .cardboxone .card-body{position:absolute; bottom:3px; left:0; width:100%; padding:0 5%; z-index: 9;}
    .cardboxone .card-body-text{background:#fff; padding:35px; border-radius:25px;   box-shadow: 0 3px #0382EA;}
    .cardboxone h5.card-title{font-size:22px; font-weight:700; color:#000; font-size:22px; line-height:36px;}
    .cardboxone p.card-text{font-weight:500; color:#000; font-size:16px; line-height:24px;}

    .cardboxone i{font-size:12px; font-weight:normal; float:right; color:#0E1E40;}

    .cardboxtwo .card{border:none; position: relative; margin-left:2%;}
    .cardboxtwo .card-body{position:absolute; top:0px; right:0; width:100%; padding:3% 0 3% 25%; height:100%;  z-index: 9;}
    .cardboxtwo .card-body-text{background:#fff; padding:35px; border-radius:25px; box-shadow: 0 3px #0382EA; height:100%;}
    .cardboxtwo h5.card-title{font-size:22px; font-weight:700; color:#000; font-size:22px; line-height:36px;}
    .cardboxtwo h5.card-title i{font-size:12px; font-weight:normal; float:right; color:#0E1E40;}

    .cardboxtwo p.card-text{ color:#000; font-size:16px; line-height:24px;}
     .cardboxtwo .w-45{width:40.5%;}

    .happeningbox li{font-size: 20px; font-family:'Poppins'; font-weight: normal; line-height:60px;}
     .happeningbox li.nav-item{width:33.333333333%;}
     .happeningbox li.nav-item .nav-link{width:100%; color:#000;} 
    .happeningbox li.nav-item .nav-link.active{color:#2D80F9; font-weight: 500; border:#fff; border-bottom:#2D80F9 2px solid;}
        .happeningbox li.nav-item .nav-link:hover{color:#2D80F9; font-weight: 500; border:#fff; border-bottom:#2D80F9 2px solid;}


.carousel-item {
  position: relative;
}

/* 🔴 Overlay Layer */
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#000; /* Adjust darkness */
  z-index: 1;
  pointer-events: none; /* So clicks pass through */
  opacity:0.5;
}

.navnew{font-family: 'Inter'; font-weight: 400; font-size:16px;}
.navnew .nav-link {  position: relative;  padding:15px 25px !important;  transition: all 0.35s ease;  color: #000;  overflow: hidden;
  border-radius: 0px;  z-index: 1; text-transform: capitalize;}
.navnew .nav-link::before {  content: "";  position: absolute;  top: 0;  left: 50%;  width: 0;  height: 100%;  background-color: #0382EA;
  transition: width 0.35s ease, left 0.35s ease;  z-index: -1;  transform: translateX(-50%);  border-radius: 0;}
.navnew .nav-link:hover::before {  width: 100%;  left: 50%;}
.navnew .nav-link:hover {  color: #fff;}

.navnew .nav-link.active {
  color: #fff;
}

.navnew .nav-link.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #0382EA;
  z-index: -1;
  transform: translateX(-50%);
  border-radius: 0;
}

.navnew .dropdown  .nav-link.dropdown-toggle.tgnew{padding:15px 15px !important;}

.navnew .coloriconb{color:#000; font-size:20px; margin-left:15px;}
.navnew  .bi.bi-search{color:#000; font-size:20px; }

.navbar-brand{width:80px;}

.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  transition: none;
}

.fade-slide.visible {
  animation: fadeSlideIn 1s ease-out forwards;
}

.fade-slide.delay-1.visible {
  animation-delay: 0.6s;
}

.fade-slide.delay-2.visible {
  animation-delay: 0.9s;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.submenu-0, .submenu-2, .submenu-3, .submenu-4, .dropdown-menu-end{border-radius:0; border:none; padding:0; border-bottom:#EBEBEB 1px solid; width:200px;    box-shadow: 0 4px 12px rgba(3, 130, 234, 0.3);}

.submenu-0 li a, .submenu-2 li a, .submenu-3 li a, .submenu-4 li a, .dropdown-menu-end li a   {
  padding: 8px 15px;
  margin: 0;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border-bottom: 1px solid #EBEBEB;
  display: block;
  transition: 
    background-color 0.6s ease,
    color 0.6s ease,
    border-color 0.6s ease,
    transform 0.5s ease;
  will-change: background-color, color, border-color, transform;
}

.submenu-2 li a{min-width:220px;}

.submenu-0 li a:hover,  .submenu-2 li a:hover, .submenu-3 li a:hover, .submenu-4 li a:hover, .dropdown-menu-end li a:hover{
  background-color: #0382EA;
  color: #fff;
  border-color: #0382EA;
}






    .dropdown-toggle-check {
      display: none;
    }
    .nav-link-label {
      cursor: pointer;
      display: inline-block;
    }

        .dropdown-menu {
      position: absolute;
      top: -500px;
      left: 0;
      width: 100%;
      z-index: 1050;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      transition: top 0.5s ease;
      margin-top: 0 !important;
      display: block; /* Prevent Bootstrap override */
      border: none;
    }


      /* Show submenu when checkbox is checked */
    .dropdown-toggle-check:checked + label + .dropdown-menu {
      top: 55px; 
 
    }

    .nav-link-label {
      cursor: pointer;
      padding: 0.5rem 1rem;
    
    }
.cardboxone .card,
.cardboxtwo .card {
  overflow: hidden; /* Ensures zoomed image doesn't overflow */
}

.cardboxone .card-img-top,
.cardboxtwo .card-img-top {
  transition: transform 0.4s ease;
}

.cardboxone:hover .card-img-top,
.cardboxtwo:hover .card-img-top {
  transform: scale(1.1);
}



/* Common Initial State */
.bannerleft,
.homebannerright,
.bannerreadmore {
  opacity: 0;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

/* Left side content comes from left */
.bannerleft {
  animation-name: fadeInLeft;
  animation-delay: 0.5s;
}

/* Right side content comes from right */
.homebannerright {
  animation-name: fadeInRight;
  animation-delay: 1s;
}

.bannerreadmore {
  animation-name: fadeInRight;
  animation-delay: 1.5s;
}



/* TabsResponsive.css
.nav-tabs .nav-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 900px) {
  .nav-tabs .nav-link {
    max-width: 100px;
  }
}
 */
/* Slide In From Left */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Slide In From Right */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 1000px) {
  @keyframes fadeInRight {
  0% {
    opacity:1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
}

.submenu-1{width:900px; margin-left:-125px; padding:0;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.submenu-1 li{ height:120px; width:128px; float: left;  border-bottom:#c8c8c8 1px solid; border-right:#c8c8c8 1px solid;    transition: background-color 0.6s ease-in-out, border-color 0.6s ease-in-out;  overflow: hidden;  position: relative;}
.submenu-1 li:hover{    background-color: #e6f7ff; border-bottom:#0382ea 2px solid;}
.submenu-1 li > * {  transition: transform 0.6s ease-in-out;  transform-origin: top;}
.submenu-1 li:hover > * {  transform: scale(1.04);}



.submenu-1 a{padding:0; text-align: center; width: 100%; display: block;}
.insobox{float: left; width:100%;}
.submenu-1 p{font-size:14px; color:#6d6d6d; float: left; text-align: center;  width: 100%; white-space: break-spaces; padding:0 10px; line-height:18px;}  
.menuicon{width:100%; float: left; height:50px; line-height:50px; }

.borgnone{border-right:none!important;}



#myCarousel .bannerreadmore .bannerbtn{border: 2px solid #fff; color: #fff;}
#myCarousel .bannerreadmore .btn-content .text-top{color: #fff;}
#myCarousel .bannerreadmore .bannerbtn::after{background: #fff;}
#myCarousel .bannerreadmore .bannerbtn:hover{border: 2px solid #0382EA;}
#myCarousel .bannerreadmore:hover .bannerbtn::after{background: #0382EA;}

.breadcrumbtop{margin-top:95px;  border-bottom: #DEDEDE 1px solid;}
.aboutbanner{margin-top:0px; height: 100%; max-height:100%;}

.aboutbanner .videoInsert{height:100%;}

.breadcrumb{font-size:14px; color:#000; padding:0 10px; margin:0 0 7px 0;}
.breadcrumb-item a{color: #8c8c8c; text-decoration: none; transition: all 0.3s; position: relative;}
.breadcrumb-item a::after {content: ''; position: absolute; width: 100%; height: 1px; bottom: -2px; left: 0; background-color: #2D80F9; transform: scaleX(0);transform-origin: center; transition: transform 0.25s ease-out;}
.breadcrumb-item a:hover{color: #2D80F9; }
.breadcrumb-item a:hover::after {  transform: scaleX(1); }

.ourcore h2{font-weight:normal; font-size:16px; color:#000000; text-align: center;}
.ourcore h3{font-weight:normal; font-size:30px; color:#000000; font-weight:400; text-align: center; margin-top:10px; padding:0 15%; line-height:34px;}
.ourcore h5{font-weight:normal; font-size:22px; color:#000000; font-weight:600; text-align: center; margin:20px 0 15px 0;} 
.ourcore p{font-size:16px;    font-family: 'Inter';    font-size: 400;    line-height: 24px; color:#000000; }



.ourmap h2{font-weight:normal; font-size:16px; color:#000000; text-align: center;}
.ourmap h3{font-weight:normal; font-size:30px; color:#000000; font-weight:400; text-align: center; margin-top:10px; padding:0 15%; line-height:34px;}


.boxourimg{width:100%; height:120px; display: flex;  justify-content: center;   align-items: center;    text-align: center;}
.boxourimg  img{max-width:110px;}

.mindsbehind h2{font-weight:normal; font-size:16px; color:#000000; text-align: center;}
.mindsbehind h3{font-weight:normal; font-size:30px; color: #000; background: linear-gradient(to right, #0382EA, #E94FDA);   -webkit-background-clip: text;  -webkit-text-fill-color: transparent; font-weight:400; line-height:38px; text-align: center; margin:15px 0 25px 0; padding:0 10%;}

.innershadow{ box-shadow: inset 0 80px 80px -60px #F2FEFF;}

.team-card {
  width:100%;
  background-color: white;
  border-radius: 0 20px 20px 0;
  border: 1px solid #ddd;
  margin-top:50px;
  margin-bottom:50px;
  float: left;
}

.image-box {
 /* display: flex;
  justify-content: center;
  align-items: center;
  height:178px;
  position: relative;*/
    float: left;
    position: relative;
    width:100%;
    padding-bottom:15px;
}

.image-box img{max-width:100%;      margin-top: -60px;    margin-bottom: 60px;} 



.card-footer {
  background-color: #0382EA;
  padding:12px 10px;
  border-top: 1px solid #0382EA;
 /* position: relative;*/
  border-radius:0 0 20px 0!important;
  height:80px;
  position:absolute;
  bottom:0;
  width:100%;
}

.card-footer h6 {
  font-size: 15px;
  margin-bottom: 4px;
}

.card-footer small {
  font-size: 13px;
  opacity: 0.9;
}


.team-card h6{font-size:20px;}
.team-card p{font-size:14px; color:#fff;  opacity: 0.8;}

.glob{max-width:300px;width:90%;}


/* Remove Bootstrap arrow */
.accordion-button::after {
  display: none !important;
}
                                                   
/* Accordion item */
.custom-accordion .accordion-item {
  border: 1px solid #dcdcdc;
  border-radius:25px;
  background-color: #fff;
  margin-bottom: 20px;
  overflow: hidden;
  padding:6px 30px;
}

/* Accordion button styling */
.custom-accordion .accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:15px 0;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  border-radius: 12px;
  box-shadow: none;
  width: 100%;
  color: #0382EA;
}

.custom-accordion .accordion-button:focus {
  box-shadow: none;
}

/* Icon on right */
.plus-icon {
  background-color: #fff;
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 24px;
  margin-left: auto;
  border:#0382EA 1px solid;
}

/* Smooth transition */
.animated-collapse {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}

/* Body style */
.accordion-body {
  padding:0;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border-top: 1px solid #eee;
  padding-top:25px;
}


.industry-section h2 {
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}
.industry-section{padding-top:80px; padding-bottom:80px;}
.industry-section h3{font-weight:normal; font-size:30px; color:#000000; margin-top:5px;}


.expertise-card {
  background: #fff;
  border-radius: 20px;
  transition: all 0.3s ease;
  height:180px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
    /* Center content vertically and horizontally */
  display: flex;
  flex-direction: column; /* so text stacks nicely */
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
  padding:25px;;
}


.nav-arrow {
  background:transparent;
  border: 2px solid #373737;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.nav-arrow:hover,
.nav-arrow.active {
  background: #373737;
  color: #fff;
  border-color: #373737;
}

/* Hide Swiper default arrows */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height:200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
  padding: 20px;
}

.flip-card-front {
  background: #fff;
}

.flip-card-front img {
  width:60px;
  height: auto;
}

.flip-card-back {
    transform: rotateY(180deg);
    background: linear-gradient(to bottom, #0072ff, #00c6ff); /* Blue gradient like image */
    color: white;
    font-size: 14px;
    text-align: left;}



.about-nav {
  background-color: #0D1A2F;
  padding: 15px 30px;
  transition: all 0.2s ease;
  position: relative; /* NOT fixed by default */
  box-sizing: border-box;
  width:100%;
  float: left;
}

.about-nav.sticky {
  position: fixed; /* becomes fixed */
  z-index: 1050;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

/* simple list styling */
.about-nav ul {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  min-width:900px;
}

.about-nav .label { color: #fff;  }
.about-nav li {color:rgba(255, 255, 255, 57%); font-size:16px;  transition: color 0.35s ease; float: left; margin-right:15px;}
.about-nav li a{color:rgba(255, 255, 255, 57%); font-size:16px;  transition: color 0.35s ease; text-decoration:none;;}
.about-nav li a.active { color: #FFD354; }
.about-nav li span{color:rgba(255, 255, 255, 15%);}
.about-nav li a:hover{color: #FFD354; }

.ourpd{padding-top:80px; padding-bottom:40px;}

.deliveringbox3{padding-top:80px; padding-bottom:80px;}

.deliveringbox2{padding-top:80px; padding-bottom:50px;}

.mindsbehind {padding-top:80px; padding-bottom:35px;}

.rsm-svg {width:100%;}

.select-wrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.select-box {
  width: 200px;
  display: block;
}

.iocnhe{width:60px;}
.iconbox{display:none;}

.happeningbox {padding-top:55px;}


@media only screen and (max-width:1170px)
{

.image-hover-box{    height: 900px;}

}  



@media only screen and (max-width:1130px)
{

.image-hover-box{    height: 900px;}
.navnew{font-size:16px;}
.navnew .nav-link{padding: 5px 15px !important;}
}  

@media only screen and (max-width:1000px){
.image-hover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: #EAF2FE;
    padding:35px;
    border-radius: 25px;
    width: 90%;
    max-width: 850px;
}

.homebannerright p{display:none;}
.bannerleft p{    font-size: 20px;}
.bannerleft h1{font-size: 38px; line-height:48px;}
.navbar-brand {
    width: 80px;
    margin: 0 auto;
}
.searchbut{display:none;}
.rightseach{position: absolute !important;; right:20px;}



.navbar-collapse{position: absolute; z-index: 99999; background: #fff;    width: 99.9999%;     top:64px; border-top:#ccc 1px solid; left:0; padding:25px 0; height:100vh; overflow: auto;}

.navbar-nav .dropdown-menu{position: static; display:none;}
.dropdown-toggle-check:checked + label + .dropdown-menu{ position:static; display: block;}
.newnavbar{padding: 0;border: none;}
.navbar-toggler:focus{border:none; box-shadow: none;}
.navbar-brand img{width:45px;}


.navnew .dropdown .nav-link.dropdown-toggle.tgnew{font-size:14px;}
.navnew .coloriconb{margin-right: -5px; font-size:14px;}
.navnew .dropdown-menu-end li a{font-size:14px;}
.navnew .dropdown .nav-link.dropdown-toggle.tgnew{padding: 5px 5px !important;}

#mainNavbar .dropdown-menu{box-shadow:none; color:#000;}
#mainNavbar .nav-item.dropdown{border-bottom: 1px solid #EBEBEB;}

.navnew .nav-link::before{display:none;}

.navnew .nav-link:hover{color:#000;}
#mainNavbar .dropdown-menu{border-top: 1px solid #EBEBEB;}
.menuicon{display:none;}
.submenu-1{margin-left:0; width:100%;}
.submenu-1 li{height: auto; width:100%; text-align: left;     padding: 8px 35px;}
.submenu-1 p{text-align: left;  font-size: 16px;    color: #000; margin:0; padding:0; line-height: normal;}
.submenu-1 li{border-right:none;         border-bottom: 1px solid #EBEBEB;} 

.menuclosex{font-size:35px;     margin-top: -7px;}
.breadcrumbtop{margin-top: 107px;}
.breadcrumb{padding:0;}
.custom-accordion .accordion-button{font-size:18px;}
.plus-icon{width:22px; height:22px; line-height: 18px;}
.ourcore h3{padding:0 5%;}

.ourpd{padding-top:50px; padding-bottom:0;}
.deliveringbox3{padding-top:50px; padding-bottom:50px;}
.mindsbehind h3{ padding:0 3%; }

.Weformobi{position:absolute; bottom:0; right:0;}
.industry-section h3{margin-bottom:50px;}

.industry-section{padding-top:50px; padding-bottom:50px;}

.deliveringbox2{padding-top:100px; padding-bottom:50px;}
}

@media only screen and (max-width:990px){
.newnavbar{position:absolute; left:20px;}
.navnew .nav-link.active{color:#000;}
}  

@media only screen and (max-width: 767px)
{
.companydata{padding:35px 15px;}
.support-text .supnumber{font-size: 14px;}
.cardboxone .card-body{position:static; margin-top:-50px;}
.cardboxtwo .card-body{position:static; margin-top:-50px;}
.cardboxtwo .card-body{padding: 0 5%;}
.cardboxtwo .w-45{width:100%;}
.cardboxone .card{padding-bottom: 35px;}
.cardboxtwo .card{padding-bottom: 35px;}
.copyright p{    margin: 0 0 15px 0;}
.bgfooter h6{margin: 0 0 15px 0;}
#myCarousel .bannerreadmore{ text-align: center;    margin-bottom:100px;}
.carouselboxin{ margin-left:0%; margin:0 auto;}
#myCarousel .carousel-indicators{text-align: center; padding-left:0; z-index:999; bottom: 130px;}
.image-hover-box{margin-top: 30px;}
.happeningbox{padding-top: 15px;}
.custpd{padding: 1.5rem !important;}
.custpx{padding-left: 1.5rem !important; padding-right: 1.5rem !important;}

.deliveringvideo{display:none;}

.happeningbox h2{  margin-bottom: -25px !important;}
.copyright{text-align: center;}
.brand-slider-wrapper{padding-top: 0 !important;}

.companydata h2{font-size:52px;}
.videoInsert{height:650px;}
.bannerleft p{font-size:18px;}

#myCarousel .caption-wrapper .container-fluid.text-start.text-white.px-5{padding-left:20px!important; padding-right:20px!important;}
#myCarousel h1 br{display: none;}


.bannerreadmore{text-align: center;}
.bannerleft{padding-left:0%; text-align: center;}


.submenu-0 li a, .submenu-2 li a, .submenu-3 li a, .submenu-4 li a, .dropdown-menu-end li a   {  padding: 8px 35px;}
.team-card{margin-top:40px;  margin-bottom: 40px;}

}

@media only screen and (max-width:500px)
{
.happeningbox li{font-size: 17px;}
}

.brand-slider-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
}

.brand-slider {
  display: flex;
  width: max-content;
  animation: scrollBrands 15s linear infinite;
}

.brand-slider:hover {
  animation-play-state: paused;
}

.brand-slide {
  flex: 0 0 auto;
  width:200px;
}

.brand-slide img {
  width: 100%;
  height: auto;
  display: block;
}

/* Seamless horizontal scroll */
@keyframes scrollBrands {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}




